<p>
    The Open Catalyst Project is a collaborative research effort between 
    Fundamental AI Research (FAIR) at Meta AI and Carnegie Mellon University’s (CMU) Department 
    of Chemical Engineering. The aim is to use AI to model and discover new 
    catalysts for use in renewable energy storage to help in addressing climate 
    change. Read more about the Open Catalyst Project <a href="https://opencatalystproject.org/">here</a>.
</p>

<p>
    This page hosts evaluation servers for two tasks on the <a href="https://github.com/Open-Catalyst-Project/ocp/blob/main/DATASET.md#open-catalyst-2022-oc22">Open Catalyst 2022 (OC22) dataset</a>
    <ol>
        <li>
            Structure to Energy and Forces (S2EF): Predict the structure's energy and per-atom forces given the structure's 3D atom positions.
        </li>
        <li>
            Initial Structure to Relaxed Energy (IS2RE): Predict the energy of the relaxed atom structure given the initial atom structure.
        </li>
    </ol>
</p>

<p>
    Please refer to the <a href="https://github.com/Open-Catalyst-Project/ocp/blob/main/DATASET.md#open-catalyst-2022-oc22">dataset page</a> and
    <a href="https://arxiv.org/abs/2206.08917">our paper</a> for more details.
</p>

<p>
    NOTE: Evaluation servers for the <strong>OC20 dataset</strong> are available <a href="https://eval.ai/web/challenges/challenge-page/712/overview">here</a>.
</p>